
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,300&display=swap');


html{
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: 'Kanit', sans-serif;;
    font-size: 14pt;
    font-weight: 300;
    font-style: italic;
}